G06/flujos/flows.json
[
    {
        "id": "f1a1b3c4d5e6f7a8",
        "type": "tab",
        "label": "Control de Bombas ESP32",
        "disabled": false,
        "info": "Flujo Node-RED para controlar las bombas de color mediante MQTT."
    },
    {
        "id": "mqtt_out_CYAN",
        "type": "mqtt out",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Bomba CYAN",
        "topic": "bombas/CYAN",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_esp32",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_out_MAGENTA",
        "type": "mqtt out",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Bomba MAGENTA",
        "topic": "bombas/MAGENTA",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_esp32",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt_out_YELLOW",
        "type": "mqtt out",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Bomba YELLOW",
        "topic": "bombas/YELLOW",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_esp32",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "mqtt_out_BLACK",
        "type": "mqtt out",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Bomba BLACK",
        "topic": "bombas/BLACK",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_esp32",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_out_WHITE",
        "type": "mqtt out",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Bomba WHITE",
        "topic": "bombas/WHITE",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker_esp32",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "inject_CYAN",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Encender CYAN",
        "props": [{"p":"payload"}],
        "payload": "ON",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 100,
        "wires": [["mqtt_out_CYAN"]]
    },
    {
        "id": "inject_CYAN_off",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Apagar CYAN",
        "props": [{"p":"payload"}],
        "payload": "OFF",
        "payloadType": "str",
        "x": 230,
        "y": 130,
        "wires": [["mqtt_out_CYAN"]]
    },
    {
        "id": "inject_MAGENTA",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Encender MAGENTA",
        "props": [{"p":"payload"}],
        "payload": "ON",
        "payloadType": "str",
        "x": 230,
        "y": 160,
        "wires": [["mqtt_out_MAGENTA"]]
    },
    {
        "id": "inject_MAGENTA_off",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Apagar MAGENTA",
        "props": [{"p":"payload"}],
        "payload": "OFF",
        "payloadType": "str",
        "x": 230,
        "y": 190,
        "wires": [["mqtt_out_MAGENTA"]]
    },
    {
        "id": "inject_YELLOW",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Encender YELLOW",
        "props": [{"p":"payload"}],
        "payload": "ON",
        "payloadType": "str",
        "x": 230,
        "y": 220,
        "wires": [["mqtt_out_YELLOW"]]
    },
    {
        "id": "inject_YELLOW_off",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Apagar YELLOW",
        "props": [{"p":"payload"}],
        "payload": "OFF",
        "payloadType": "str",
        "x": 230,
        "y": 250,
        "wires": [["mqtt_out_YELLOW"]]
    },
    {
        "id": "inject_BLACK",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Encender BLACK",
        "props": [{"p":"payload"}],
        "payload": "ON",
        "payloadType": "str",
        "x": 230,
        "y": 280,
        "wires": [["mqtt_out_BLACK"]]
    },
    {
        "id": "inject_BLACK_off",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Apagar BLACK",
        "props": [{"p":"payload"}],
        "payload": "OFF",
        "payloadType": "str",
        "x": 230,
        "y": 310,
        "wires": [["mqtt_out_BLACK"]]
    },
    {
        "id": "inject_WHITE",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Encender WHITE",
        "props": [{"p":"payload"}],
        "payload": "ON",
        "payloadType": "str",
        "x": 230,
        "y": 340,
        "wires": [["mqtt_out_WHITE"]]
    },
    {
        "id": "inject_WHITE_off",
        "type": "inject",
        "z": "f1a1b3c4d5e6f7a8",
        "name": "Apagar WHITE",
        "props": [{"p":"payload"}],
        "payload": "OFF",
        "payloadType": "str",
        "x": 230,
        "y": 370,
        "wires": [["mqtt_out_WHITE"]]
    },
    {
        "id": "mqtt_broker_esp32",
        "type": "mqtt-broker",
        "name": "ESP32 Broker",
        "broker": "6.tcp.ngrok.io",
        "port": "18263",
        "clientid": "NodeRED_Controller",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    }
]



