G04/1.Flujos_Node_Red/Camara.json
[
    {
        "id": "f01b2326bc102ff4",
        "type": "tab",
        "label": "Camara_color",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "930bfe876b481586",
        "type": "ui_template",
        "z": "f01b2326bc102ff4",
        "group": "64236f01351959f5",
        "name": "",
        "order": 4,
        "width": "0",
        "height": "0",
        "format": "<div style=\"text-align:center;\">\n  <h3>Selecciona un punto de la imagen</h3>\n  <canvas id=\"canvas\" width=\"640\" height=\"480\" style=\"border:1px solid #000;\"></canvas>\n  <p id=\"colorInfo\">Haz clic en un punto de la imagen</p>\n</div>\n\n<script>\n(function(scope) {\n    const canvas = document.getElementById(\"canvas\");\n    const ctx = canvas.getContext(\"2d\");\n    const colorInfo = document.getElementById(\"colorInfo\");\n    let img = new Image();\n\n    // Se ejecuta cada vez que llega un nuevo mensaje MQTT\n    scope.$watch('msg.payload', function(data) {\n        if (!data) return;\n\n        // Dibujar la nueva imagen\n        img = new Image();\n        img.onload = function() {\n            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);\n        };\n        img.src = data;  // base64 recibido desde MQTT\n    });\n\n    // Detectar clic y obtener color RGB y HEX\n    canvas.addEventListener(\"click\", function(event) {\n        const rect = canvas.getBoundingClientRect();\n        const x = event.clientX - rect.left;\n        const y = event.clientY - rect.top;\n\n        const pixel = ctx.getImageData(x, y, 1, 1).data;\n        const rgb = `rgb(${pixel[0]}, ${pixel[1]}, ${pixel[2]})`;\n        const hex = \"#\" + ((1 << 24) + (pixel[0] << 16) + (pixel[1] << 8) + pixel[2]).toString(16).slice(1).toUpperCase();\n\n        colorInfo.innerText = `Coordenadas: (${Math.round(x)},${Math.round(y)}) - ${rgb} - ${hex}`;\n        \n        // Enviar el color a Node-RED\n        scope.send({ payload: { x: x, y: y, rgb: rgb, hex: hex } });\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "f5aa989c6c768b94"
            ]
        ]
    },
    {
        "id": "0fe28d7f521a914e",
        "type": "debug",
        "z": "f01b2326bc102ff4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "f5aa989c6c768b94",
        "type": "function",
        "z": "f01b2326bc102ff4",
        "name": "Procesar_color",
        "func": "// espera msg.payload = {x, y, rgb:[r,g,b], hex:\"#RRGGBB\"}\nlet info = msg.payload || {};\nlet hex = info.hex || \"#000000\";\nlet rgb = info.rgb || [0,0,0];\n\n// Prepara dos mensajes:\n// msg1 para el color picker (payload = hex string)\n// msg2 para debug o visualización (objeto completo)\nlet msgColor = { payload: hex };         // el ui_colour espera una string \"#RRGGBB\"\nlet msgDebug = { payload: { hex: hex, rgb: rgb, coords: {x: info.x, y: info.y} } };\n\n// Envío en 2 salidas: salida 1 -> color picker, salida 2 -> debug/tabla\nreturn [msgColor, msgDebug];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "1f359d6384dc820d",
                "0fe28d7f521a914e",
                "a942e0138ffbd2d4"
            ]
        ]
    },
    {
        "id": "1f359d6384dc820d",
        "type": "mqtt out",
        "z": "f01b2326bc102ff4",
        "name": "",
        "topic": "esp/out",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89b5767d2d6aab10",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "a942e0138ffbd2d4",
        "type": "ui_colour_picker",
        "z": "f01b2326bc102ff4",
        "name": "",
        "label": "",
        "group": "64236f01351959f5",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 770,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bde4ccaf79960ab1",
        "type": "debug",
        "z": "f01b2326bc102ff4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "b0964f897f969a9b",
        "type": "mqtt in",
        "z": "f01b2326bc102ff4",
        "name": "",
        "topic": "camara/pi",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "89b5767d2d6aab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "930bfe876b481586",
                "bde4ccaf79960ab1"
            ]
        ]
    },
    {
        "id": "22350da20c3b7ee3",
        "type": "ui_button",
        "z": "f01b2326bc102ff4",
        "name": "",
        "group": "64236f01351959f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tomar foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "capturar",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "618420b72fb802b5",
                "67f4de830f2d8eeb",
                "b5697d17c27d9f62"
            ]
        ]
    },
    {
        "id": "618420b72fb802b5",
        "type": "mqtt out",
        "z": "f01b2326bc102ff4",
        "name": "",
        "topic": "camara/captura",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89b5767d2d6aab10",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "67f4de830f2d8eeb",
        "type": "debug",
        "z": "f01b2326bc102ff4",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "b5697d17c27d9f62",
        "type": "json",
        "z": "f01b2326bc102ff4",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 750,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "64236f01351959f5",
        "type": "ui_group",
        "name": "camara_color",
        "tab": "dcd18b8045b3ee39",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "89b5767d2d6aab10",
        "type": "mqtt-broker",
        "name": "servirdor",
        "broker": "192.168.80.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dcd18b8045b3ee39",
        "type": "ui_tab",
        "name": "Camara_color",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52d4458513006822",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]